<?xml version="1.0"?>
<config>
    <modules>
        <NextBits_FormulaCSVPricing>
            <version>1.0.0</version>
        </NextBits_FormulaCSVPricing>
    </modules>
	<admin>
		<routers>
			<formulacsvpricing>
				<use>admin</use>
				<args>
					<module>NextBits_FormulaCSVPricing</module>
					<frontName>formulacsvpricing</frontName>
				</args>
			</formulacsvpricing>
		</routers>
	</admin>
	<frontend>
        <layout>
            <updates>
                <formulacsvpricing>
                    <file>formulacsvpricing.xml</file>
                </formulacsvpricing>
            </updates>
        </layout>
		<routers>
            <formulacsvpricing>
                <use>standard</use>
                <args>
                    <module>NextBits_FormulaCSVPricing</module>
                    <frontName>formulacsvpricing</frontName>
                </args>
            </formulacsvpricing>
        </routers>
		<events>
			<catalog_product_load_after>
					<observers>
						<formulacsvpricing_load_product>
							<type>singleton</type>
							<model>formulacsvpricing/observer</model>
							<method>loadProductBefore</method>
						</formulacsvpricing_load_product>
					</observers>
			</catalog_product_load_after>
		</events>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<formulacsvpricing translate="title" module="formulacsvpricing">
											<title>Formula CSV Pricing</title>
										</formulacsvpricing>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
            <updates>
                <formulacsvpricing>
                    <file>formulacsvpricing.xml</file>
                </formulacsvpricing>
            </updates>
        </layout>
		<events>
			 <catalog_product_save_after>
                <observers>
                    <formulacsvpricing_save_product_data>
                        <type>singleton</type>
                        <class>formulacsvpricing/observer_product</class>
                        <method>formulacsvpricing</method>
                    </formulacsvpricing_save_product_data>
                </observers>
            </catalog_product_save_after>
		</events>
    </adminhtml>
	<global>
		<helpers>
            <formulacsvpricing>
                <class>NextBits_FormulaCSVPricing_Helper</class>
            </formulacsvpricing>
        </helpers>
		<models>
            <formulacsvpricing>
                <class>NextBits_FormulaCSVPricing_Model</class>
				<resourceModel>formulacsvpricing_mysql4</resourceModel>
            </formulacsvpricing>
			<formulacsvpricing_mysql4>
                <class>NextBits_FormulaCSVPricing_Model_Mysql4</class>
                <entities>
                    <formulacsvpricing>
                        <table>formulacsvpricing</table>
                    </formulacsvpricing>
                </entities>
            </formulacsvpricing_mysql4>
			<catalog>
				<rewrite>
					<product_type_price>NextBits_FormulaCSVPricing_Model_Product_Type_Price</product_type_price>
				</rewrite>
			</catalog>
        </models>
		<resources>
			<formulacsvpricing_setup>
					<setup>
						<module>NextBits_FormulaCSVPricing</module>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
			</formulacsvpricing_setup>
			<formulacsvpricing_write>
					<connection>
						<use>core_write</use>
					</connection>
			</formulacsvpricing_write>
			<formulacsvpricing_read>
				<connection>
					<use>core_read</use>
				</connection>
			</formulacsvpricing_read>	
        </resources>
		<blocks>
			<formulacsvpricing>
					<class>NextBits_FormulaCSVPricing_Block</class>
			 </formulacsvpricing>
		</blocks>
	</global>
	<default>
		<formulacsvpricing>
			<general>
				<qtyswitcher>0</qtyswitcher>
				<changeprice>1</changeprice>
				<buttonlabel>Calculate Price</buttonlabel>
			</general>
		</formulacsvpricing>
	</default>
</config>