<?xml version="1.0"?>
<config>
  <modules>
    <NextBits_SelectedOptionsSummary>
      <version>0.1.0</version>
    </NextBits_SelectedOptionsSummary>
  </modules>
   <frontend>
        <routers>
            <selectedoptionssummary>
                <use>standard</use>
                <args>
                    <module>NextBits_SelectedOptionsSummary</module>
                    <frontName>selectedoptionssummary</frontName>
                </args>
            </selectedoptionssummary>
        </routers>
       <!--  <layout>
            <updates>
                <selectedoptionssummary>
                    <file>selectedoptionssummary.xml</file>
                </selectedoptionssummary>
            </updates>
        </layout> -->
		<events>
           <core_block_abstract_prepare_layout_before>
               <observers>
                   <nextbits_selectedoptionssummary_prepare_layout_before>
                       <class>selectedoptionssummary/observer</class>
                       <method>prepareLayoutBefore</method>
                   </nextbits_selectedoptionssummary_prepare_layout_before>
               </observers>
           </core_block_abstract_prepare_layout_before>
		    <controller_action_layout_generate_xml_before>
                <observers>
                    <selectedoptionssummary>
                        <type>singleton</type>
                        <class>selectedoptionssummary/observer</class>
                        <method>updateLayout</method>
                    </selectedoptionssummary>
                </observers>
            </controller_action_layout_generate_xml_before>
       </events>
    </frontend>
	<global>
		<models>
            <selectedoptionssummary>
                <class>NextBits_SelectedOptionsSummary_Model</class>
            </selectedoptionssummary>
		</models>
		<blocks>
            <selectedoptionssummary>
                <class>NextBits_SelectedOptionsSummary_Block</class>
            </selectedoptionssummary>
        </blocks>
		<helpers>
            <selectedoptionssummary>
                <class>NextBits_SelectedOptionsSummary_Helper</class>
            </selectedoptionssummary>
        </helpers>
		<resources>
			<selectedoptionssummary_setup>
				<setup>
					<module>NextBits_SelectedOptionsSummary</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</selectedoptionssummary_setup>
		</resources>
	</global>
	<default>
		<selectedoptionssummary>
			<general>
				<active>1</active>
				<jquery>1</jquery>
				<image>1</image>
			</general>
		</selectedoptionssummary>
	</default>
</config> 